.wy-nav-content { max-width: 1120px; }
.wy-side-nav-search, .wy-nav-top { background: #24556c; }
.rst-content img { max-width: 100%; height: auto; }
.rst-content table.docutils { width: 100%; }
.rst-content pre { overflow-x: auto; }
